# Utility
alias gh="history | grep -is"
alias la="ls -a"
alias ll="ls -hl"

# Internet
alias lswifi="nmcli dev wifi"
alias cwifi="nmcli device wifi connect "

# Edit configs
alias cfi="vi ~/.config/i3/config"
alias cfb="vi ~/.bashrc"
alias cfa="vi ~/.aliases"
alias cfbl="sudo vi /sys/class/backlight/intel_backlight/brightness"

# Open directories
alias msc="cd ~/git/MSc-Project/"
alias doc="cd ~/git/MSc-Project/doc/"

# Git
alias gc="git commit -am"
alias gp="git push origin master"
alias gst="git status"
alias gd="git diff *.c *.h *.ld"

# VPN Norway
#alias vpn="sudo openvpn .airvpn/AirVPN_NO-Oslo_Fomalhaut_UDP-443.ovpn &"
# Change theme

# Change theme
# Setup random wallpaper
# feh --bg-max --randomize ~/.wallpapers/* &
alias theme="wal -a 70 -i ~/.wallpapers/"
